.blank-div{
    height: 4px;
    
}
.card {
    background-color: rgba(124, 121, 121, 0.121);
    color: white;
    border-radius: 4%;
    margin-bottom: 0.5cm;
    
}

.card-img {
    margin-top: 12px;
}