<div class="container-fluid bg-black blank-div"></div>
<div class="container-fluid bg-black ">
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6" *ngFor="let product of products| slice:start_index:end_index">
            <div class="card" style="width: 16rem;">
                <img [src]="product.img" class="card-img" alt="{{product.brand}}" [routerLink]="['/phones',product.id]"
                    style="cursor:pointer;">
                <div class="card-body">
                    <h4 class="card-title" [title]="product.name">
                        {{product.name.length>7?
                        (product.discription|slice:0:7)+"...":product.name}}</h4>
                    <h5 class="card-text">{{product.brand}}</h5>
                    <p class="mb-1">
                        <app-star [title]="product.rating" [start_rating]="product.rating"
                            (value)="displayChildData($event)"></app-star>
                    </p>
                    <p class="card-text">{{product.price|currency:"INR"}}</p>
                    <p class="card-text" [title]="product.discription">{{product.discription.length>34?
                        (product.discription|slice:0:34)+"...":product.discription}}</p>
                    <a style="cursor:pointer;" class="btn btn-primary" (click)="addToCart()">Add to Cart</a>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- pagination code -->

<nav aria-label="...">
    <ul class="pagination pagination-sm justify-content-end">
        <li class="page-item active" aria-current="page" (click)="nextPage(1)">
            <span class="page-link" style="cursor:pointer">1</span>
        </li>
        <li class="page-item"><a class="page-link" style="cursor:pointer" (click)="nextPage(2)">2</a></li>
        <li class="page-item"><a class="page-link" style="cursor:pointer" (click)="nextPage(3)">3</a></li>
    </ul>
</nav>