<div class="container mt-4">
    <div class="row">
        <div class="col-lg-6">
            <div *ngIf="fetchedHelth$|async as Helth; else noProduct">
                <div class="card" style="width: 20rem;">
                    <img [src]="Helth.img" class="card-img mt-3" alt="{{Helth.brand}}">
                    <div class="card-body">
                        <h4 [routerLink]="['/helth-and-fitness',Helth.id]" class="card-title" [title]="Helth.name"
                            style="cursor:pointer;">
                            {{Helth.name.length>7?
                            (Helth.discription|slice:0:14)+"...":Helth.name}}</h4>
                        <h5 class="card-text">{{Helth.brand}}</h5>
                        <p class="mb-1">
                            <app-star></app-star>
                        </p>
                        <p class="card-text">{{Helth.price|currency:"INR"}}</p>
                        <p class="card-text" [title]="Helth.discription">{{Helth.discription.length>34?
                            (Helth.discription|slice:0:34)+"...":Helth.discription}}</p>
                        <a style="cursor:pointer;" class="btn btn-primary">Add to Cart</a>
                    </div>
                </div>
            </div>
        </div>
        <ng-template #noProduct>
            <h1>No Products Available for this ID.</h1>
        </ng-template>
        <div class="col-lg-6">
            <h4>Review Form</h4>
            <app-review-form></app-review-form>
        </div>

    </div>
</div>